@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

:root {
  font-size: 16px;
  font-family: "DM Mono", monospace;
  --text-primary: black;
  --text-secondary: #ececec;
  --bg-primary: #F1FAEE;
  --bg-secondary: #293a3f;
  --bg-tertiary: #CDEAE5;
  --primary: #E63946;
  --secondary: #457B9D;
  --tertiary: #1D3557;
  --quaternary: #77ABBD;
}

body {
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
  border-radius: 10rem;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 3rem;
    padding: 1rem;
  }
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}
